/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-img {
    vertical-align: middle;
}

.logo {
    margin-left: 170px;
}

span {
    display: inline-block;
    vertical-align: middle;
    font-family: arial;
    text-align: center;
}

.container {
    height: 1000px;
    width: 1000px;
    background-color: lightgray;
    margin: auto;
}

.white-container {
    width: 800px;
    height: 50px;
    background-color: white;
    margin: auto;
    padding: 10px;
}

.task {
    width: 100px;
    height: 30px;
    background-color: skyblue;
}

.section {
    width: 100px;
    height: 30px;
    background-color: skyblue;
    display: inline-block;
}

.white-container-two {
    width: 800px;
    height: 500px;
    background-color: white;
    margin: auto;
}

.quarterly-newsletter {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

.editorial {
    width: 60px;
    height: 20px;
    background-color: skyblue;
    border: 1px solid black;
    border-radius: 5px;
}

.blog-post {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

