/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.logo-img {
    vertical-align: middle;
}
*/

.logo {
    display: inline-block;
    margin-left: 170px;
}

ul li {
 list-style: none;
}

.green-check {
    color: green;
}

.red-check {
    color:red;
}

.main-container {
    width: 70%;
    margin: 0px auto;
}

.top {
    width: 70%;
    margin: 0px auto;
}

.green-check {
    border: 1px solid green;
    border-radius: 50%;
}

.red-check {
    border: 1px solid red;
    border-radius: 50%;  
}

li {
    margin: 5px;
}

.btn  {
    border:1px solid black;
    border-radius: 3px;
    background-color: skyblue;
}

