/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
    display: inline-block;
    margin-left: 170px;
}

ul li {
 list-style: none;
}

.green-check {
    color: green;
}

.red-check {
    color:red;
}

.main-container {
    width: 70%;
    margin: 0px auto;
}

.top {
    width: 70%;
    margin: 0px auto;
}

.green-check {
    border: 1px solid green;
    border-radius: 50%;
}

.red-check {
    border: 1px solid red;
    border-radius: 50%;  
}

li {
    margin: 5px;
}

.btn-blue  {
    border:1px solid black;
    border-radius: 3px;
    background-color: skyblue;
}

.btn-purple {
    background-color: purple;
    border:1px solid black;
    border-radius: 3px;
}

.btn-green {
    background-color: green;
    border:1px solid black;
    border-radius: 3px;
}

.btn-orange {
    background-color: orangered;
    border:1px solid black;
    border-radius: 3px;
}

.btn-pink {
    background-color: pink;
    border:1px solid black;
    border-radius: 3px;
}

.btn-lightgreen {
    background-color: lightgreen;
    border:1px solid black;
    border-radius: 3px;
}

